name: Flutter

on:
  pull_request:
    paths-ignore:
      - "**.md"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          cache: true

      - uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: "temurin"

      - run: flutter pub get
      - run: dart format --output=none --set-exit-if-changed .
      - run: flutter analyze

      - name: Disable signing
        run: sed -i -e '/signingConfig /d' android/app/build.gradle

      - name: View
        run: cat android/app/build.gradle

      - name: Build apk
        run: flutter build apk --debug

      - uses: actions/upload-artifact@v4
        with:
          name: Apk
          path: |
            build/app/outputs/flutter-apk/app-debug.apk
